@charset "utf-8";
/* grid */
.container_24{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_7,.grid_17{display:inline;float:left;margin-left:10px;margin-right:10px}
.container_24 .grid_17{width:660px}
.container_24 .grid_7{width:260px}


